<!-- Homepage Header -->
<header class="home-header" style="background-image: url('{{ site.url }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-8 col-md-10 col-md-offset-2">
                <div class="site-heading text-center">
                    <h1>Polyorder Lab</h1>
                    {% if page.description %}
                        <span class="subheading" style="font-size: 1.5em">{{ page.description }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
