<div style="display:none">
$
\newcommand\vu{\mathbf{u}}
\newcommand\vv{\mathbf{v}}
\newcommand\vw{\mathbf{w}}
\newcommand\vo{\mathbf{o}}
\newcommand\vr{\mathbf{r}}
\newcommand\vt{\mathbf{t}}
\newcommand\vx{\mathbf{x}}
\newcommand\vy{\mathbf{y}}
\newcommand\vz{\mathbf{z}}
\newcommand\va{\mathbf{a}}
\newcommand\vb{\mathbf{b}}
\newcommand\vc{\mathbf{c}}
\newcommand{\vk}{\mathbf{k}}
\newcommand{\vq}{\mathbf{q}}
\newcommand{\vzero}{\mathbf{0}}
\newcommand{\mI}{\mathbf{I}}
\newcommand{\mM}{\mathbf{M}}
\newcommand{\mR}{\mathbf{R}}
\newcommand{\mW}{\mathbf{W}}
\newcommand{\abs}[1]{\left\lvert {#1} \right\rvert}
\newcommand{\ensemble}[1]{\left\langle {#1} \right\rangle}
$
</div>
