<nav class="blog-tools" aria-label="Browse and subscribe">
  <div class="blog-tools__group">
    <h2>Browse</h2>
    <ul>
      <li><a href="{{ site.baseurl }}/blog/archive/">By date</a></li>
      <li><a href="{{ site.baseurl }}/blog/category/">By category</a></li>
      <li><a href="{{ site.baseurl }}/blog/tags/">By tag</a></li>
    </ul>
  </div>
  <div class="blog-tools__group blog-tools__categories">
    <h2>Topics</h2>
    <ul>
      {% for category in site.categories %}
      {% assign category_key = category[0] %}
      <li><a href="{{ site.baseurl }}/blog/category/#{{ category_key | slugify }}">{{ category_key }}</a><span>{{ category[1].size }}</span></li>
      {% endfor %}
    </ul>
  </div>
  <div class="blog-tools__group">
    <h2>Subscribe</h2>
    <ul>
      <li><a href="{{ site.baseurl }}/feed.xml">All posts</a></li>
      <li><a href="{{ site.baseurl }}/feed_julia.xml">Julia posts</a></li>
    </ul>
  </div>
</nav>
