<aside class="sidebar">
	<div class="panel radius">
		<h3>Subscribe</h3>
		<ul class="no-bullet">
			<li class="icon-rss"><a href="{{ site.baseurl }}/feed.xml">RSS Feed</a></li>
			<li class="icon-rss"><a href="{{ site.baseurl }}/feed_julia.xml">Julia Posts Only</a></li>
		</ul>
	</div>

	<div class="panel radius">
		{% assign categories_url = site.baseurl | append: '/blog/category/' %}
		<h3><a href="{{ categories_url }}">Categories</a></h3>
		<ul class="no-bullet">
		{% for category in site.categories %}
			{% assign category_key = category[0] %}
			<li class="icon-alias-category">{% include page_categories.html categories=category_key show=true %}</li>
		{% endfor %}
		</li>
	</div>

	<div class="panel radius">
		{% assign archive_url = site.baseurl | append: '/blog/archive/' %}
		<h3><a href="{{ archive_url }}">Archive</a></h3>
            {% for post in site.posts %}
                {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

                {% if forloop.first %}
                  <ul class="no-bullet">
                    <li class="icon-alias-archive"><a href="{{ archive_url }}#{{ this_year }}-ref">{{ this_year }}</a>
                    {% assign count = 1 %}
                {% endif %}
                {% if forloop.last %}
                  ({{ count }}&nbsp;article{% unless count == 1%}s{% endunless %})</li>
                  </ul>
                {% else %}
                    {% if this_year != next_year %}
                      ({{ count }}&nbsp;article{% unless count == 1%}s{% endunless %})</li>
                      <li class="icon-alias-archive"><a href="{{ archive_url }}#{{ next_year }}-ref">{{ next_year }}</a>
                      {% assign count = 1 %}
                    {% else %}
                      {% assign count = count | plus: 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!--
			{% for post in site.posts %}
				{% assign currentdate = post.date | date: '%Y-%m' %}
				{% if currentdate != date %}
					{% assign count = 1 %}
					{% unless forloop.first %}({{ count }}&nbsp;article{% unless count == 1%}s{% endunless %})</li>{% endunless %}
					{% assign currentyear = post.date | date: '%Y' %}
					{% if currentyear != year %}
						{% unless forloop.first %}</ul></li>{% endunless %}
						<li class="icon-alias-archive"><a href="{{ archive_url }}#{{ currentyear }}-ref">{{ currentyear }}</a><ul>
						{% assign year = currentyear %}
					{% endif %}
					<li><a href="{{ archive_url }}#{{ currentdate }}">{{ post.date | date: '%B' }}</a>
					{% assign date = currentdate %}
				{% else %}
					{% assign count = count | plus: 1 %}
				{% endif %}
				{% if forloop.last %}({{ count }}&nbsp;article{% unless count == 1%}s{% endunless %})</li></ul></li>{% endif %}
			{% endfor %}-->
	</div>

    <div class="panel radius">
        {% assign tags_url = site.baseurl | append: '/blog/tags/' %}
        <h3><a href="{{ tags_url }}">Tags</a></h3>
        {% include tag_cloud.html baseurl=tags_url %}
    </div>
</aside>
