// Header from Clean Blog
@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-header {
	background: no-repeat center center;
	background-color: $gray;
	background-attachment: scroll;
	@include background-cover;
	// NOTE: Background images are set within the HTML using inline CSS!
	margin-bottom: 50px;
	.site-heading,
	.post-heading,
	.page-heading {
		padding: 100px 0 50px;
		color: $feature-title-color; //white;
		@media only screen and (min-width: 768px) {
			padding: 150px 0;
		}
	}
	.site-heading,
	.page-heading {
		text-align: center;
		h1 {
			margin-top: 0;
			font-size: 50px;
		}
		.subheading {
			font-size: 24px;
			line-height: 1.1;
			display: block;
			font-family: $heading-font;
			font-weight: 300;
			margin: 10px 0 0;
		}
		@media only screen and (min-width: 768px) {
			h1 {
				font-size: 80px;
                font-weight: 800;
			}
		}
	}
	.post-heading {
		h1 {
			font-size: 35px;
		}
		.subheading,
		.meta {
			line-height: 1.1;
			display: block;
		}
		.subheading {
			font-family: $heading-font;
			font-size: 24px;
			margin: 10px 0 30px;
			font-weight: 600;
		}
		.meta {
			font-family: $base-font;
			font-style: italic;
			font-weight: 300;
			font-size: 20px;
			a {
				color: white;
			}
		}
		@media only screen and (min-width: 768px) {
			h1 {
				font-size: 55px;
			}
			.subheading {
				font-size: 30px;
			}
		}
	}
}
