body {
	margin: 0;
	padding: $navbar-actual-height 0 0 0;
	width: 100%;
	background-color: $body-color;
}

.breadcrumbs {
    background-color: lighten($primary, 15%);
    border: lighten($primary, 15%);
    border-radius: 0;
    a {
        color: lighten($nav-color, 20%);
        &:hover {
            text-decoration: none;
            color: lighten($nav-faded, 10%);
        }
    }
    >.current {
        color: lighten($nav-faded, 10%);
        &:hover {
            color: lighten($nav-faded, 10%);
        }
    }
}

// Main
// --------------------------------------------------
.entry,
.hentry {
	@include clearfix;
	h1, h2, h3, h4, h5, h6, p, li {
		word-wrap: break-word;
	}
}
.entry-content {
	@include font-size($doc-font-size);
	// Dotted line underlines for links
	p > a,
	li > a {
		border-bottom: 1px dotted lighten($link-color, 50);
		&:hover {
			border-bottom-style: solid;
		}
	}
}

.entry-title {
    a {
        &:visited {
            color: $link-color;
        }
    }
}

// Entry Header
// --------------------------------------------------
.entry-header {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.header-title {
	text-align: center;
	margin: 30px 0 0;
	h1 {
		margin: 10px 20px;
		font-weight: 700;
		@include font-rem(24);
		color: $secondary;
		@media #{$medium} {
			@include font-rem(36);
		}
		@media #{$large} {
			@include font-rem(45);
		}
	}
	h2 {
		margin: 0;
		@include font-rem(18);
		color: lighten(rgba(#222,0.8),40);
		@media #{$medium} {
			@include font-rem(24);
		}
	}
	p {
		color: lighten(rgba(#222,0.8),20);
	}
}
.feature .header-title {
	position: absolute;
	top: 0;
	display: table;
    margin-top: $navbar-actual-height;
	width: 100%;
	height: $post-header-height;
	overflow: hidden;
	.header-title-wrap {
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		text-align: center;
	}
	h1 {
		margin: 10px;
		font-weight: 700;
		margin: 10px 60px;
		color: $white;
		text-shadow: 1px 1px 4px rgba(rgba(#222,0.8),0.6);
		a {
			color: $white;
		}
	}
	h2 {
		margin: 0;
		color: $white;
		@media #{$medium} {
			a {
				color: $white;
			}
		}
	}
	p {
		color: $white;
	}
}
.entry-image {
	position: relative;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	min-height: $post-header-height;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(rgba(#222,0.8),0.3);
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: $post-header-height;
	}
}
// Feature Image Caption
.image-credit {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	max-width: 440px;
	padding: 10px 15px;
	background-color: rgba(rgba(#222,0.8),0.5);
	color: $white;
	@include font-rem(12);
	text-align: right;
	@include border-radius(3px,0,0,3px);
	z-index: 10;
	@media #{$medium} {
		max-width: 760px;
	}
	@media #{$large} {
		max-width: 960px;
	}
	a {
		color: $white;
		text-decoration: none;
	}
}

// Single Post and Page
// --------------------------------------------------
.entry-meta {
	@include font-rem(12);
	text-transform: uppercase;
	color: lighten(rgba(#222,0.8),60);
    margin: 50px 30px 0px 30px;
	a {
		color: lighten(rgba(#222,0.8),60);
        border-bottom: none;
        &:hover {
            color: $link-color-hover;
            border-bottom: none;
        }
	}
    .center {
        margin: auto;
    }
    .inline-list {
        display: inline-block;
        float: none;
        margin: auto;
    }
	.vcard {
		&:before {
			content: " by ";
		}
        border: none;
        margin-bottom: 0;
	}
	.tag {
		display: inline-block;
		margin: 4px;
		color: $white;
		@include rounded(3px);
		background-color: lighten(rgba(#222,0.8),50);
		span {
			float: left;
			padding: 2px 6px;
		}
		.count {
			background-color: lighten(rgba(#222,0.8),40);
			@include border-radius(3px,3px,0,0);
		}
		&:hover {
			background-color: lighten(rgba(#222,0.8),40);
		}
	}
	.entry-reading-time {
		float: right;
	}
}

header .entry-meta {
	display: none;
	@media #{$medium} {
		display: block;
	}
}

#post {
    a.tag {
        border-bottom: 2px solid;
        &:hover {
            border-bottom: 2px solid;
        }
    }
    p a,
    article a {
        font-weight: bold;
        border-bottom: 1px dotted;
        &:hover {
            border-bottom: 2px solid;
            text-decoration: none;
        }
    }
    div#toc a {
        border-bottom: none;
        &:hover {
            color: $link-color-hover;
        }
    }
    a.btn {
        border: 2px solid;
        &:hover {
            border: 2px solid;
            text-decoration: none;
        }
    }
    div.read-more {
        h3 a{
            border-bottom: none;
            &:hover {
                border-bottom: none;
                text-decoration: none;
                color: lighten($text-color, 20);
            }
        }
        h4 a{
            border-bottom: none;
            &:hover {
                border-bottom: none;
                text-decoration: none;
                color: $link-color-hover;
            }
        }
    }
    div.highlighter-rouge {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    figure.image{
        display: block;
        width: 50%;
        min-width: 400px;
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        margin-left: auto;
        margin-right: auto;
    }
    img.displayed{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img.scaled {
        width: 100%;
    }
    article {
        header.post-header {
            border-bottom: 2px solid $header-underline-color;
            margin-bottom: 20px;
        }
    }
    .entry-content {
        margin: 0px 2px 20px;
        padding: 15px 15px;
        background-color: $white;
        box-shadow: 0 0 0 0, 0 6px 12px rgba($black,0.1);
        @include rounded(3px);
        @media #{$medium} {
            margin: 20px auto 30px;
            padding: 20px 30px;
        }
        @media #{$large} {
            max-width: 960px;
            margin: 20px auto 30px;
            padding: 30px 80px;
            > p:first-child {
                @include font-size(20);
            }
        }
    }
    #post-nav {
        margin-top: 30px;
        a {
            border-bottom: none;
            &:hover {
                border-bottom: none;
                color: $link-color-hover;
            }
        }
    }
    .entry-meta {
        margin-top: 25px;
        border-top: 1px solid $concrete;
        text-align: center;
        a {
            border-bottom: none;
            &:hover {
                border-bottom: none;
            }
        }
    }
}
#page {
    p a,
    article a {
        font-weight: bold;
        border-bottom: 1px dotted;
        &:hover {
            border-bottom: 2px solid;
            text-decoration: none;
        }
    }
    div#toc a {
        border-bottom: none;
        &:hover {
            color: $link-color-hover;
        }
    }
    a.btn {
        border: 2px solid;
        &:hover {
            border: 2px solid;
            text-decoration: none;
        }
    }
    article {
        header.post-index-header {
            border-bottom: 2px solid $header-underline-color;
            margin-bottom: 20px;
        }
    }
	.entry-content {
		margin: 0px 2px 20px;
		padding: 15px 15px;
		background-color: $white;
		box-shadow: 0 0 0 0, 0 6px 12px rgba($black,0.1);
		@include rounded(3px);
		@media #{$medium} {
            margin: 20px auto 30px;
			padding: 20px 30px;
		}
		@media #{$large} {
			max-width: 960px;
			margin: 20px auto 30px;
			padding: 30px 80px;
			> p:first-child {
				@include font-size(20);
			}
		}
	}
	.entry-meta {
		text-align: center;
        a {
            border-bottom: none;
            &:hover {
                border-bottom: none;
            }
        }
	}
}
.entry-tags {
	display: block;
	margin-bottom: 6px;
}
.tag-heading,
.year-heading {
	margin-top: 0;
}
.permalink {
	margin-right: 7px;
}
.pagination {
    display: block;
	margin: 20px 10px;
	text-align: center;
    line-height: auto;
	ul {
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	li {
		padding-left: 4px;
		padding-right: 4px;
	}
	.current-page {
		font-weight: 700;
	}
}

.read-more {
	position: relative;
	margin: 40px 2px 0 2px;
	padding: 40px 15px 25px;
	background-color: $white;
	box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba($black,0.1);
	@include rounded(3px);
	@media #{$medium} {
		margin: 40px 10px 0 10px;
		padding: 50px 40px 25px;
	}
	@media #{$large} {
		max-width: 800px;
		padding: 50px 80px;
		margin: 40px auto 0;
	}
	text-align: center;
	@include clearfix;
}
.read-more-header {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	height: 35px;
	a {
		@extend .btn;
	}
}
.read-more-content {
	@include font-size(16);
	h3 {
		margin: 0;
		@include font-rem(28);
		a {
			color: $text-color;
		}
		@media #{$medium} {
			@include font-rem(36);
		}
	}
}
.read-more-list {
	border-top: solid 2px lighten(rgba(#222,0.8),80);
}
.list-item {
	width: 100%;
	text-align: left;
	h4 {
		@include font-rem(18);
		margin-bottom: 0;
	}
	span {
		display: block;
		@include font-rem(14);
		color: lighten(rgba(#222,0.8),50);
	}
	@media #{$medium} {
		width: 49%;
		float: left;
		&:nth-child(2) {
			text-align: right;
		}
	}
}

#home {
    #main {
        margin: 2px 2px 2px 2px;
        @media #{$medium} {
            margin-left: 20px;
            margin-right: 20px;
        }
        @media #{$large} {
            max-width: 960px;
            margin-top: 4px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    a.btn{
        @include font-rem(9);
    }
    div.blog-articles {
        h2 {
            margin-top: 10px;
        }
        a {
            text-decoration: none;
            &:hover {
                color: $link-color-hover;
            }
        }
    }
    div.widget,
    div.homepage {
        h2 {
            color: darken($nav-color, 20%);
        }
    }
}

.blog-index {
    a.button, a.tag {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    h2 a {
        text-decoration: none;
        &:hover {
            color: $link-color-hover;
        }
    }
}

#post-index {
    a.dotted {
        border-bottom: 1px dotted;
    }
    a.tag {
        text-decoration: none;
        border-bottom: 2px solid;
        &:hover {
            text-decoration: none;
            border-bottom: 2px solid #4B4B4B;
        }
    }
    h1 a {
        border-bottom: none;
        &:hover {
            color: $link-color-hover;
            border-bottom: none;
            text-decoration: none;
        }
    }

	#main {
		margin: 0px auto 20px;
        padding: 15px auto;
		@media #{$medium} {
            margin: 20px auto 30px;
            padding: 20px auto;
		}
		@media #{$large} {
			max-width: 960px;
            margin: 20px auto 30px;
            padding: 30px auto;
		}
	}
	article {
		background-color: $white;
		box-shadow: 0 0 0 0, 0 6px 12px rgba(rgba(#222,0.8),0.1);
		@include rounded(3px);
		margin-bottom: 20px;
		padding: 25px 15px;
		@media #{$medium} {
			padding: 30px;
		}
		@media #{$large} {
			margin-bottom: 30px;
			padding: 50px 80px;
		}
        .date {
            font-family: $code-font;
            color: $gray;
        }
        a {
            font-weight: bold;
            border-bottom: none;
            &:hover {
                border-bottom: 2px solid;
                text-decoration: none;
            }
        }
        header.post-index-header {
            display: block;
            border-bottom: 2px solid $header-underline-color;
            margin-bottom: 20px;
        }
        h2 a {
            border-bottom: none;
            &:hover {
                color: $link-color-hover;
                border-bottom: none;
            }
        }
	}
    article.posts-list {
        padding-top: 10px;
        padding-bottom: 10px;
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        }
        h2 {
            margin-bottom: 1em;
        }
    }
}
.entry-image-index {
	margin-top: -25px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 10px;
	@media #{$medium} {
		margin-top: -30px;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 15px;
	}
	@media #{$large} {
		margin-top: -50px;
		margin-left: -80px;
		margin-right: -80px;
		margin-bottom: 20px;
	}
	img {
		@include border-radius(3px,0,0,3px);
	}
}

.footer-wrapper {
	@include clearfix;
	margin: 1em auto;
	text-align: center;
	color: lighten($text-color,20);
	a {
		color: lighten($text-color, 20%);
	}
}
