.panel-pub {
    ol li {
        padding-bottom: 1em;
    }
    .title {
        font-weight: bold;
        a {
            &:hover {
                color: $danger;
            }
        }
    }
    .year {
        font-weight: bold;
    }
    .source {
        font-style: italic;
    }
    .author {
        .main {
            font-weight: bold;
        }
    }
    .volume {
        font-style: italic;
    }

}
