/**
 * Syntax highlighting
/**


/*
 * Code snippets from mmistakes
 * source: https://github.com/mmistakes/minimal-mistakes
 * file: _sass/minimal-mistakes/_syntax.scss
 * Fix line numbers column abnormally widen when code is short.
*/
div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  line-height: 1.8;
  border-radius: 3;

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
    code {
        /* Display language name */
        &[data-lang]::before {
            content: attr(data-lang);
            position: absolute;
            top: 3px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
  }

  div.table-responsive {
    border: none;
    margin-bottom: 0;
  }
}

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-right: 1em;
      width: 1em;
      border-right: 1px solid $gray-light;
      text-align: right;
    }

    /* code */
    &.code,
    &.rouge-code {
      padding-left: 1em;
    }
  }

  pre {
    margin: 0;
  }
}
/** end of tweaks from mmistakes **/

/*
 * Display language name
 * Hacks for Kramdown fenced code blocks
 * which lacks of a data-lang attribute.
**/
div.language-julia {
    position: relative;
    pre.highlight {
        padding: 14px;
        &::before {
            content: "julia";
            position: absolute;
            top: 2px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
}

div.language-console {
    position: relative;
    pre.highlight {
        padding: 14px;
        &::before {
            content: "console";
            position: absolute;
            top: 2px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
}

div.language-markdown {
    position: relative;
    pre.highlight {
        padding: 14px;
        &::before {
            content: "markdown";
            position: absolute;
            top: 2px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
}

div.language-python {
    position: relative;
    pre.highlight {
        padding: 14px;
        &::before {
            content: "python";
            position: absolute;
            top: 2px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
}

div.language-c {
    position: relative;
    pre.highlight {
        padding: 14px;
        &::before {
            content: "c";
            position: absolute;
            top: 2px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
}

div.language-cpp {
    position: relative;
    pre.highlight {
        padding: 14px;
        &::before {
            content: "c++";
            position: absolute;
            top: 2px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
}

div.language-matlab {
    position: relative;
    pre.highlight {
        padding: 14px;
        &::before {
            content: "matlab";
            position: absolute;
            top: 2px;
            right: 10px;
            color: $lang-color;
            font-size: 12px;
        }
    }
}

/* Hack: mobile browser no border */
@media #{$small} {
    .table-responsive {
        border: none;
        margin-bottom: 0;
    }
}

.highlight {
	margin-bottom: 0em;
	@include font($doc-font-size);
	color: #d0d0d0;
	pre{
		position: relative;
        background-color: #F9F9F8;
		margin: 0;
		padding: 0;
        border: none;
        width: 100%;
	}
    // disable table top border
    .table>tbody>tr>td {border-top: none;}
    /* tweak line numbers */
	.lineno { padding-right: 0; color: #A9D9B9;}
	/* Solarized Light theme from pygments-style-solarized package */
    /* Created by following command */
    /* pygmentize -S solarizedlight -f html > pygments.css */
    .hll { background-color: #ffffcc }
    .c { color: #93a1a1; font-style: italic } /* Comment */
    .err { color: #dc322f } /* Error */
    .g { color: #657b83 } /* Generic */
    .k { color: #859900 } /* Keyword */
    .l { color: #657b83 } /* Literal */
    .n { color: #586e75 } /* Name */
    .o { color: #657b83 } /* Operator */
    .x { color: #657b83 } /* Other */
    .p { color: #657b83 } /* Punctuation */
    .cm { color: #93a1a1; font-style: italic } /* Comment.Multiline */
    .cp { color: #93a1a1; font-style: italic } /* Comment.Preproc */
    .c1 { color: #93a1a1; font-style: italic } /* Comment.Single */
    .cs { color: #93a1a1; font-style: italic } /* Comment.Special */
    .gd { color: #657b83 } /* Generic.Deleted */
    .ge { color: #657b83 } /* Generic.Emph */
    .gr { color: #657b83 } /* Generic.Error */
    .gh { color: #657b83 } /* Generic.Heading */
    .gi { color: #657b83 } /* Generic.Inserted */
    .go { color: #93a1a1 } /* Generic.Output */
    .gp { color: #21be21 } /* Generic.Prompt */
    .gs { color: #657b83 } /* Generic.Strong */
    .gu { color: #657b83 } /* Generic.Subheading */
    .gt { color: #657b83 } /* Generic.Traceback */
    .kc { color: #859900 } /* Keyword.Constant */
    .kd { color: #859900 } /* Keyword.Declaration */
    .kn { color: #cb4b16 } /* Keyword.Namespace */
    .kp { color: #cb4b16 } /* Keyword.Pseudo */
    .kr { color: #859900 } /* Keyword.Reserved */
    .kt { color: #859900 } /* Keyword.Type */
    .ld { color: #657b83 } /* Literal.Date */
    .m { color: #2aa198 } /* Literal.Number */
    .s { color: #2aa198 } /* Literal.String */
    .na { color: #657b83 } /* Name.Attribute */
    .nb { color: #268bd2 } /* Name.Builtin */
    .nc { color: #268bd2 } /* Name.Class */
    .no { color: #b58900 } /* Name.Constant */
    .nd { color: #cb4b16 } /* Name.Decorator */
    .ni { color: #cb4b16 } /* Name.Entity */
    .ne { color: #cb4b16 } /* Name.Exception */
    .nf { color: #268bd2 } /* Name.Function */
    .nl { color: #657b83 } /* Name.Label */
    .nn { color: #b58900 } /* Name.Namespace */
    .nx { color: #657b83 } /* Name.Other */
    .py { color: #268bd2 } /* Name.Property */
    .nt { color: #859900 } /* Name.Tag */
    .nv { color: #cb4b16 } /* Name.Variable */
    .ow { color: #859900 } /* Operator.Word */
    .w { color: #fdf6e3 } /* Text.Whitespace */
    .mb { color: #2aa198 } /* Literal.Number.Bin */
    .mf { color: #2aa198 } /* Literal.Number.Float */
    .mh { color: #2aa198 } /* Literal.Number.Hex */
    .mi { color: #2aa198 } /* Literal.Number.Integer */
    .mo { color: #2aa198 } /* Literal.Number.Oct */
    .sb { color: #2aa198 } /* Literal.String.Backtick */
    .sc { color: #2aa198 } /* Literal.String.Char */
    .sd { color: #2aa198 } /* Literal.String.Doc */
    .s2 { color: #2aa198 } /* Literal.String.Double */
    .se { color: #cb4b16 } /* Literal.String.Escape */
    .sh { color: #2aa198 } /* Literal.String.Heredoc */
    .si { color: #cb4b16 } /* Literal.String.Interpol */
    .sx { color: #2aa198 } /* Literal.String.Other */
    .sr { color: #2aa198 } /* Literal.String.Regex */
    .s1 { color: #2aa198 } /* Literal.String.Single */
    .ss { color: #2aa198 } /* Literal.String.Symbol */
    .bp { color: #268bd2; font-weight: bold } /* Name.Builtin.Pseudo */
    .vc { color: #268bd2 } /* Name.Variable.Class */
    .vg { color: #268bd2 } /* Name.Variable.Global */
    .vi { color: #268bd2 } /* Name.Variable.Instance */
    .il { color: #2aa198 } /* Literal.Number.Integer.Long */
}
