//
// Icon Font: iconfont
//

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/iconfont.woff2") format("woff2"),
       url("../fonts/iconfont.woff") format("woff"),
       url("../fonts/iconfont.ttf") format("truetype"),
       url("../fonts/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.svg#iconfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-alarm:before,
.icon-archive:before,
.icon-back-in-time:before,
.icon-blackboard:before,
.icon-browser:before,
.icon-calendar:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-cone:before,
.icon-edit:before,
.icon-export:before,
.icon-facebook:before,
.icon-github:before,
.icon-google-play:before,
.icon-google-plus:before,
.icon-graduation-cap:before,
.icon-home:before,
.icon-info:before,
.icon-install:before,
.icon-lab-flask:before,
.icon-light-bulb:before,
.icon-linkedin:before,
.icon-magnifying-glass:before,
.icon-mail:before,
.icon-open-book:before,
.icon-paypal:before,
.icon-price-tag:before,
.icon-right:before,
.icon-rss:before,
.icon-skype:before,
.icon-tree:before,
.icon-trophy:before,
.icon-twitter:before,
.icon-v-card:before,
.icon-youtube:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-alarm:before { content: "\f120"; }
.icon-archive:before { content: "\f100"; }
.icon-back-in-time:before { content: "\f101"; }
.icon-blackboard:before { content: "\f102"; }
.icon-browser:before { content: "\f103"; }
.icon-calendar:before { content: "\f104"; }
.icon-chevron-down:before { content: "\f105"; }
.icon-chevron-left:before { content: "\f106"; }
.icon-chevron-right:before { content: "\f107"; }
.icon-chevron-up:before { content: "\f108"; }
.icon-cone:before { content: "\f122"; }
.icon-edit:before { content: "\f109"; }
.icon-export:before { content: "\f10a"; }
.icon-facebook:before { content: "\f10b"; }
.icon-github:before { content: "\f10c"; }
.icon-google-play:before { content: "\f10d"; }
.icon-google-plus:before { content: "\f10e"; }
.icon-graduation-cap:before { content: "\f10f"; }
.icon-home:before { content: "\f110"; }
.icon-info:before { content: "\f124"; }
.icon-install:before { content: "\f111"; }
.icon-lab-flask:before { content: "\f112"; }
.icon-light-bulb:before { content: "\f126"; }
.icon-linkedin:before { content: "\f113"; }
.icon-magnifying-glass:before { content: "\f114"; }
.icon-mail:before { content: "\f115"; }
.icon-open-book:before { content: "\f116"; }
.icon-paypal:before { content: "\f117"; }
.icon-price-tag:before { content: "\f118"; }
.icon-right:before { content: "\f128"; }
.icon-rss:before { content: "\f119"; }
.icon-skype:before { content: "\f11a"; }
.icon-tree:before { content: "\f11b"; }
.icon-trophy:before { content: "\f11c"; }
.icon-twitter:before { content: "\f11d"; }
.icon-v-card:before { content: "\f11e"; }
.icon-youtube:before { content: "\f11f"; }

$font-iconfont-alarm: "\f120";
$font-iconfont-archive: "\f100";
$font-iconfont-back-in-time: "\f101";
$font-iconfont-blackboard: "\f102";
$font-iconfont-browser: "\f103";
$font-iconfont-calendar: "\f104";
$font-iconfont-chevron-down: "\f105";
$font-iconfont-chevron-left: "\f106";
$font-iconfont-chevron-right: "\f107";
$font-iconfont-chevron-up: "\f108";
$font-iconfont-cone: "\f122";
$font-iconfont-edit: "\f109";
$font-iconfont-export: "\f10a";
$font-iconfont-facebook: "\f10b";
$font-iconfont-github: "\f10c";
$font-iconfont-google-play: "\f10d";
$font-iconfont-google-plus: "\f10e";
$font-iconfont-graduation-cap: "\f10f";
$font-iconfont-home: "\f110";
$font-iconfont-info: "\f124";
$font-iconfont-install: "\f111";
$font-iconfont-lab-flask: "\f112";
$font-iconfont-light-bulb: "\f126";
$font-iconfont-linkedin: "\f113";
$font-iconfont-magnifying-glass: "\f114";
$font-iconfont-mail: "\f115";
$font-iconfont-open-book: "\f116";
$font-iconfont-paypal: "\f117";
$font-iconfont-price-tag: "\f118";
$font-iconfont-right: "\f128";
$font-iconfont-rss: "\f119";
$font-iconfont-skype: "\f11a";
$font-iconfont-tree: "\f11b";
$font-iconfont-trophy: "\f11c";
$font-iconfont-twitter: "\f11d";
$font-iconfont-v-card: "\f11e";
$font-iconfont-youtube: "\f11f";
