/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/


/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1: #334D5C;		// dark turquoise
$ci-2: #45B29D;		// turquoise
$ci-3: #EFC94C;		// yellow
$ci-4: #E27A3F;		// orange
$ci-5: #DF4949;		// red
$ci-6: #A1D044;     // green

$feature-title-color: $ci-1; // Added for feature titles

// Additional color variables
$base-color: $ci-1; // Base color for general use
$comp-color: $ci-2; // Complementary color
$nav-color: $ci-1; // Navigation color
$nav-brand-color: $ci-3; // Navigation brand color
$nav-brand-fix-color: $ci-4; // Fixed navigation brand color
$nav-fix-color: $ci-5; // Fixed navigation color
$header-underline-color: $ci-6; // Header underline color
$ci-3: #EFC94C;		// yellow
$ci-4: #E27A3F;		// orange
$ci-5: #DF4949;		// red
$ci-6: #A1D044;     // green



/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $ci-3;
$secondary-color: $ci-6;

$alert-opacity: 0.618;  // edit by lyx 2020-04-09 for light scheme.
$alert-color: rgba(#BD0623, $alert-opacity);
$success-color: rgba(#21AA0E, $alert-opacity);
$warning-color: rgba(#D6810A, $alert-opacity);
$info-color: rgba(#19A7D6, $alert-opacity);
$terminal-color: rgba(#000000, $alert-opacity);
$todo-color: #ffffff;



/* Grey Scale
------------------------------------------------------------------- */

$grey-0: #FFFFFF;
$grey-1: #E4E4E4;
$grey-2: #D7D7D7;
$grey-3: #CBCBCB;
$grey-4: #BEBEBE;
$grey-5: #A4A4A4;
$grey-6: #979797;
$grey-7: #8B8B8B;
$grey-8: #7E7E7E;
$grey-9: #646464;
$grey-10: #575757;
$grey-11: #4B4B4B;
$grey-12: #3E3E3E;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0B0B0B;



/* Basics
------------------------------------------------------------------- */

// $text-color:       	$grey-0;
// $body-font-color: 	$text-color;
// $body-bg: 			$grey-14;


/* Footer
------------------------------------------------------------------- */

// $footer-bg: $grey-13;
// $footer-color: $grey-0;
// $footer-header-color: $secondary-color;


// $subfooter-bg: $grey-12;
// $subfooter-color: $grey-6;
// $subfooter-link-color: $grey-6;


/* Code
------------------------------------------------------------------- */

// $code-color: $text-color;
// $code-background-color: rgba(black, 0.3);//scale-color($body-bg, $lightness: -50%);
// $code-border-color: rgba($code-background-color, 0.1);
// also see _11_syntax-highlighting.scss
