// Typography
$base-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$heading-font: 'Lato', 'Open Sans', sans-serif;
$site-title-font: $heading-font;
$code-font: "Roboto Mono", monospace;

$doc-font-size: 14;
$doc-line-height: 26;

// Layout
$navbar-height: 51px;
$navbar-actual-height: 62px;
$post-header-height: 320px;

// Colors
$black: #000;
$white: #fff;
$gray: #95a6a6;
$gray-light: lighten($gray, 10%);
$gray-dark: darken($gray, 20%);
$concrete: #e0e0e0;

$primary: #4a6b8a;
$secondary: #1abc9c;
$info: #3498db;
$warning: #f1c40f;
$danger: #e74c3c;

$body-color: #f1f8ff;
$text-color: rgba(#222, 0.8);
$text-color-light: rgba(#222, 0.6);
$border-color: lighten($text-color, 60%);
$nav-color: lighten($primary, 30%);
$nav-faded: lighten($primary, 15%);
$nav-brand-faded: lighten($primary, 25%);
$nav-brand-fix-faded: lighten($primary, 30%);
$nav-fix-faded: lighten($primary, 20%);
$navbar-bgcolor: darken($primary, 10%);
$nav-bgcolor: $navbar-bgcolor;

// Links
$link-color: mix(#000, $info, 15%);
$link-color-hover: mix(#000, $link-color, 30%);
$link-color-visited: mix(#fff, $link-color, 15%);

// Breakpoints
$small: "only screen and (min-width: 576px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 992px)";
$x-large: "only screen and (min-width: 1200px)";
