---
permalink: /blog/archive/
redirect_from:
  - /blog/archive.html
layout: post-index
title: "Articles by date"
description: "A chronological index of Polyorder notes."
comments: false
breadcrumbs: true
---

<nav class="editorial-index-nav" aria-label="Archive years">
{% assign lastyear = '' %}
{% for post in site.posts %}
  {% assign currentyear = post.date | date: '%Y' %}
  {% if currentyear != lastyear %}
    <a href="#{{ currentyear }}-ref">{{ currentyear }}</a>
    {% assign lastyear = currentyear %}
  {% endif %}
{% endfor %}
</nav>

{% assign lastyear = '' %}
{% for post in site.posts %}
  {% assign currentyear = post.date | date: '%Y' %}
  {% if currentyear != lastyear %}
    {% unless forloop.first %}</ol></section>{% endunless %}
    <section class="editorial-archive-group" aria-labelledby="{{ currentyear }}-ref">
      <h2 id="{{ currentyear }}-ref">{{ currentyear }}</h2>
      <ol>
    {% assign lastyear = currentyear %}
  {% endif %}
    <li>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%m.%d' }}</time>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% if forloop.last %}</ol></section>{% endif %}
{% endfor %}
