---
permalink: /blog/archive/
redirect_from:
    - /blog/archive.html
layout: post-index
title: "Articles by Date"
description: "An archive of posts."
comments: false
breadcrumbs: true
---

<ul class="inline-list quick-links">
{% assign lastyear = '' %}
{% for post in site.posts reversed %}
    {% assign currentyear = post.date | date: '%Y' %}
    {% if currentyear != lastyear %}
        <li><a href="#{{ currentyear }}-ref" class="dotted">{{ currentyear }}</a></li>
        {% assign lastyear = currentyear %}
    {% endif %}
{% endfor %}
</ul>

{% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture the_date %}{{ post.date | date: "%m-%d" }}{% endcapture %}

    {% if forloop.first %}
    <article class="posts-list">
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}

        <li class="entry-title"><span class="date">{{ the_date }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>

    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_year != next_year %}
          </ul>
        </article>
        <article class="posts-list">
          <h2 id="{{ next_year }}-ref" class="year-heading">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}
{% endfor %}
